@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body{
    font-family: 'Slabo 27px', serif;
}

.img-fluid{
    height: 70px;
    width: 200px;
  }

  #Hero-Section {
    background-image: url("../img/homepage-illustration-v2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
